.filterInput{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2em .1em;
    border-radius: 24px;
    background-color: var(--color-terciario);
    width: 100%;
}
.filterInput_input{
    background-color: var(--color-terciario);
    border: none;
    color: var(--color-secundary);
    width: 100%;
    padding: 0.5em .5em;
    font-family: var(--font-primary);
    font-weight: var(--fw-light);
    font-size: var(--fs-base);
}
.filterInput_input:focus{
    background-color: var(--color-terciario);
    border: none;
    color: var(--color-secundary);
    width: 100%;
    padding: .3em .75em;
    border-radius: 12px;
    font-family: var(--font-primary);
    font-weight: var(--fw-light);
    outline: none;
}
.filterInput_button{
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1.5em;
    right: .75em;
    cursor: pointer;
}
.filterInput_button svg{
    width: var(--fs-base);
    height: var(--fs-base);
}